<div class="container">
	<h2 class="center">{{type}} Users</h2>
	{{#if admin}}
	<ul class="tabs container center admin-project custom">
		<li class="tab col s4"><a class="{{#if active.all}}active{{/if}}" href="/admin/users/">All</a></li>
		<li class="tab col s4"><a class="{{#if active.approved}}active{{/if}}" href="/admin/users/approved">Approved</a></li>
		<li class="tab col s4"><a class="{{#if active.unapproved}}active{{/if}}" href="/admin/users/unapproved">Unapproved</a></li>
	</ul>
	{{/if}}
	<form action="/admin/users/search{{#if type}}?type={{type}}{{/if}}" method="get">
		<div class="input-field">
			<input type="search" name="query" required value="{{search}}"></input>
			<label class="label-icon" for="query"><i class="material-icons">search</i></label>
		 	<i class="material-icons">close</i>
		</div>
	</form>
	<ul class="collection">
		{{#each users}}
		<li class="collection-item avatar">
			<img src="{{pic}}" alt="{{name.full}} Profile Pic" class="circle">
			<span class="title"><strong>{{name.full}}</strong></span>
			<p class="description">{{email}}</p>
			<div class="secondary-content">
				{{#if approved}}
				<a href="/admin/user/{{gid}}/" class="waves-effect waves-light btn red darken-4">Profile</a>
				<a href="/admin/user/{{gid}}/applications" class="waves-effect waves-light btn red darken-4">Applications</a>
				{{else}}
				<a href="/admin/user/{{gid}}/approve" class="waves-effect waves-light btn red darken-4" data-id="{{gid}}" class="user-approve">Approve</a>
				{{/if}}
				<a href="/admin/user/{{gid}}/delete" class="red-text text-darken-4"><i class="material-icons">delete</i></a>
			</div>
		</li>
		{{else}}
		<p class="flow-text center">No users found</p>
		{{/each}}
	</ul>
</div>