<div class="container">
	<h2 class="center">{{type}} Users</h2>
	{{#unless type}}<a class="btn" href="/admin/users/unapproved">Unapproved Users</a>{{/unless}}
	<form action="/admin/users/search{{#if type}}?type={{type}}{{/if}}" method="get">
		<div class="input-field">
			<input type="search" name="query" required value="{{search}}"></input>
			<label class="label-icon" for="query"><i class="material-icons">search</i></label>
		 	<i class="material-icons">close</i>
		</div>
	</form>
	<ul class="collection">
		{{#each users}}
		<li class="collection-item avatar">
			<img src="{{pic}}" alt="{{name.full}} Profile Pic" class="circle">
			<span class="title"><strong>{{name.full}}</strong></span>
			<p class="description">{{email}}</p>
			<div class="secondary-content">
				{{#if approved}}
				<a href="/admin/user/{{gid}}/" class="waves-effect waves-light btn red darken-4">Profile</a>
				<a href="/admin/user/{{gid}}/applications" class="waves-effect waves-light btn red darken-4">Applications</a>
				{{else}}
				<a href="/admin/user/{{gid}}/approve" class="waves-effect waves-light btn red darken-4" data-id="{{gid}}" class="user-approve">Approve</a>
				{{/if}}
				<a href="/admin/user/{{gid}}/delete" class="red-text text-darken-4"><i class="material-icons">delete</i></a>
			</div>
		</li>
		{{/each}}
	</ul>
</div>