<div class="profile-main container section">
	<div class="card">
		<div class="card-content">
			<div class="profile-wrapper section">
				<p class="center"><img src="{{userData.pic}}" alt="{{userData.name.full}}'s profile picture" class="circle responsive-img user-profile-image z-depth-5 hoverable"/></p>
				<p class="center large"><strong>{{userData.name.full}}</strong></p>
			</div>
			<div class="divider"></div>
			<div class="section container" id="meta">
				<h2 class="center">Meta</h2>
				{{#if userData.approved}}
					<p class="green-text flow-text">Approved</p>
				{{else}}
					<p class="red-text flow-text">Not approved. <a href="./approve">Approve</a>?</p>
				{{/if}}
				{{#if userData.access}}
					<p class="flow-text">Access level: {{userData.access}}</p>
				{{else}}
					<p class="error flow-text">ERROR: ACCESS LEVEL UNKNOWN</p>
				{{/if}}
				<p class="flow-text">Profile is {{#unless userData.profileComplete}}in{{/unless}}complete
			</div>
			<div class="divider"></div>
			<div class="section container" id="projects">
				<h2 class="center">Projects</h2>
				<div class="row">
					<div class="col s12">
						<ul class="tabs tabs-fixed-width">
							<li class="tab col s4"><a href="#owns">Owns [{{#if userData.owner}}{{userData.owner.length}}{{else}}0{{/if}}]</a></li>
							<li class="tab col s3"><a href="#manages">Manages [{{#if userData.manager}}{{userData.manager.length}}{{else}}0{{/if}}]</a></li>
							<li class="tab col s4"><a href="#develops">Works On [{{#if userData.developer}}{{userData.developer.length}}{{else}}0{{/if}}]</a></li>
						</ul>
					</div>

				 	<div id="owns" class="col s12">
				 		<div class="section container center">
							{{#each userData.owner}}
								<p class='flow-text'><a href="/admin/project/{{this._id}}">{{this.name}}</a></p>
							{{else}}
								<p class='flow-text'>[none]</p>
							{{/each}}
				 		</div>
					</div>
					<div id="manages" class="col s12">
						<div class="section container center">
							{{#each userData.manager}}
								<p class='flow-text'><a href="/admin/project/{{this._id}}">{{this.name}}</a></p>
							{{else}}
								<p class='flow-text'>[none]</p>
							{{/each}}
						</div>
					</div>
					<div id="develops" class="col s12">
						<div class="section container center">
							{{#each userData.developer}}
								<p class='flow-text'><a href="/admin/project/{{this._id}}">{{this.name}}</a></p>
							{{else}}
								<p class='flow-text'>[none]</p>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
			<div class="divider"></div>
			<h2 class="center">Public Profile</h2>
			{{> profile this}}
		</div>
	</div>
</div>