<div class="container">
	<h2>{{type}} Users</h2>
	<ul class="collection">
		{{#each users}}
		<li class="collection-item avatar">
			<img src="{{pic}}" alt="{{name.full}} Profile Pic" class="circle">
			<span class="title"><strong>{{name.full}}</strong></span>
			<p class="description">{{email}}</p>
			<div class="secondary-content">
				{{#if approved}}
				<a href="/admin/user/{{gid}}/projects" class="waves-effect waves-light btn red darken-4">Projects</a>
				{{else}}
				<a href="/admin/user/{{gid}}/approve" class="waves-effect waves-light btn red darken-4" data-id="{{gid}}" class="user-approve">Approve</a>
				{{/if}}
				<a href="/admin/user/{{gid}}/delete" class="red-text text-darken-4"><i class="material-icons">delete</i></a>
			</div>
		</li>
		{{/each}}
	</ul>
</div>