<!DOCTYPE HTML>
<html lang="en" prefix="og: http://ogp.me/ns#">
	<head>
		<title>{{#if title}}{{title}} | {{/if}}Aggie Coding Club Project Manager</title>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
		<meta name="theme-color" content="#ffffff" />
		<meta name="msapplication-tap-highlight" content="no" />
		<meta name="msapplication-TileImage" content="/mstile-150x150.png">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="application-name" content="Aggie Coding Club Project Manager" />
		<meta name="mobile-web-app-capable" content="yes" />
		<meta property="og:url" content="https://projects.aggiecodingclub.com" />
		<meta property="og:site_name" content="Aggie Coding Club Project Manager" />
		<meta property="og:type" content="article" />
		<meta property="og:locale" content="en_US" />
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content=";;;INSERT_TWITTER_HANDLE_HERE;;;" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="white">
		<meta name="apple-mobile-web-app-title" content="Aggie Coding Club Project Manager">

		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
		<link rel="stylesheet" type="text/css" href="/material/css/materialize.min.css" media="screen,projection"/>
		<link rel="stylesheet" type="text/css" href="/css/global.css" media="screen,projection"/>
		<!--<link rel="author" type="text/plain" href="/humans.txt" />-->
		<!--<link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
		<link rel="manifest" href="/manifest.json" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
		<link rel="alternate" type="application/atom+xml" title="Aggie Coding Club" href="/atom.xml" />
		<link rel="shortcut icon" href="/favicon.ico" />-->
		<link rel="canonical" href="https://projects.aggiecodingclub.com">

		{{#if description}}
		<meta name="description" content="{{description}}" />
		<meta name="og:description" content="{{description}}" />
		{{/if}}
	</head>
	<body class="grey lighten-3">
		<header>
			<nav class="red darken-4">
				<div class="container">
					<div class="nav-wrapper">
						<a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
						<ul id="nav-mobile" class="left hide-on-med-and-down">
							{{#each (user-nav user.access)}}
								<li><a href="{{this.link}}">{{this.name}}</a></li>
							{{/each}}
						</ul>
						<ul class="side-nav" id="mobile">
							{{#each (user-nav user.access)}}
								<li><a href="{{this.link}}">{{this.name}}</a></li>
							{{/each}}
						</ul>
					</div>
					{{#if back}}
					<a class="left valign nav-back-lg hide-on-small-only" href="{{back.url}}" title="Return to {{back.name}}"><i class="material-icons waves-effect waves-circle">arrow_back</i></a>
					<a class="left valign hide-on-med-and-up" href="{{back.url}}" title="Return to {{back.name}}"><i class="material-icons waves-effect waves-circle">arrow_back</i></a>
					{{/if}}
					<a class="right" href="/login">{{#if user}}Welcome back, {{user.name.first}}{{else}}Login{{/if}}</a>
				</div>
			</nav>
		</header>
		<main>
			<div id="flashes" class="center">
				<div class="message success green-text">{{messages.success}}</div>
				<div class="message info yellow-text text-darken-4">{{messages.info}}</div>
				<div class="message error red-text">{{messages.error}}</div>
			</div>
			{{{body}}}
		</main>
		<footer></footer>
	</body>
	<script src="/js/jquery.js"></script>
	<script src="/material/js/materialize.min.js"></script>
	<script src="/js/global.js"></script>
</html>