{{#unless single}}<h1 class="center">{{#if header}}{{header}}{{else}}Your{{/if}} applications</h1>{{/unless}}
<div class="application-container section">
	{{#if admin}}
		{{#unless single}}
		<ul class="tabs container center admin-project custom">
			<li class="tab col s4"><a class="{{#if active.all}}active{{/if}}" href="/admin/applications/">All</a></li>
			<li class="tab col s4"><a class="{{#if active.approved}}active{{/if}}" href="/admin/applications/approved">Approved</a></li>
			<li class="tab col s4"><a class="{{#if active.unapproved}}active{{/if}}" href="/admin/applications/unapproved">Unapproved</a></li>
		</ul>
		{{/unless}}
	{{/if}}
	{{#each applications}}
		<div class="container section application">
			<div class="card">
				<div class="card-content">
					{{#if (renderProjectApproval ../admin this)}}
					<div class="row">
						<div class="col s12 m4 center offset-m2"><a href="/admin/application/{{this._id}}/approve" class="btn waves-effect waves-light green">Approve</a></div>
						<div class="col s12 m4 center"><a href="/admin/application/{{this._id}}/reject" class="btn waves-effect waves-light red">Reject</a></div>
					</div>
					{{/if}}
					<div class="row">
						{{#unless ../admin}}
						<div class="col s12 center m4 push-m8">
							<a class="flow-text btn red" href="/project/{{this.project-id._id}}">View Project</a>
						</div>
						{{/unless}}
						<div class="col s12 m4 {{#if ../admin}}push-m4{{else}}offset-m4 pull-m4{{/if}}">
							<h2 class="flow-text center underlined"><strong>{{this.project-id.name}}</strong> Application</h2>
						</div>
					</div>
					<div class="row">
						<div class="col s12 m6 l4 center">
							<p class="flow-text">Interest: [<span class="underlined">{{this.level-of-interest}}</span> / 10]</p>
						</div>
						<div class="col s12 m6 l4 center">
							<p class="flow-text">Availability: <span class="underlined">{{this.time}}</span> hours</p>
						</div>
						<div class="col s12 m6 l4 offset-m3 center">
							<p class="flow-text">Skill ranking: [<span class="underlined">{{this.skills}}</span> / 100]</p>
						</div>
					</div>
					<div class="row">
						<h2 class="flow-text center underlined">Notes</h2>
						<p class="flow-text center">{{#if this.notes}}{{this.notes}}{{else}}[No notes]{{/if}}</p>
					</div>
					<div class="divider row"></div>
					<div class="row center flow-text">
						Status: {{status this.status}}<br/>
						{{#if this.statusNotes}}
							Details: {{this.statusNotes}}
						{{/if}}
					</div>
					{{#unless ../admin}}
					<div class="row center">
						<p class="flow-text">See a problem? <a href="/profile/application/{{this._id}}/edit" class="btn">Edit Application</a></p>
					</div>
					{{/unless}}
					{{#if ../admin}}
						{{#if ../single}}
							{{> admin_project project=this.project-id user=this.user-id}}
						{{else}}
						<p class="center"><a class="btn waves-effect waves-light" href="/admin/application/{{this._id}}/view">More details</a></p>
						{{/if}}
					{{/if}}
				</div>
			</div>
		</div>
	{{else}}
	<p class="flow-text center">No Applications found</p>
	{{/each}}
</div>
{{#if pagination.needed}}
{{/if}}