<h1 class="center">
	{{#if headerTitle}}
		{{headerTitle}}
	{{else}}
		Projects
	{{/if}}
</h1>
<div class="project-container section">
	{{#each projects}}
		{{#if (canRenderProject ../admin this)}}
		<div class="container section project">
			<div class="card">
				<div class="card-content">
					{{#if ../admin}}
					<div class="row">
						<div class="col s12 m4 center"><a href="/admin/project/{{this.id}}/approve" class="btn waves-effect waves-light green">Approve</a></div>
						<div class="col s12 m4 center"><a href="/admin/project/{{this.id}}/edit" class="btn waves-effect waves-lignt">Edit</a></div>
						<div class="col s12 m4 center"><a href="/admin/project/{{this.id}}/reject" class="btn waves-effect waves-light red">Reject</a></div>
					</div>
					{{/if}}
					<h2 class="flow-text center underlined"><strong>{{{this.name}}}</strong></h2>
					<div class="row valign-wrapper">
						<div class="col s6 center valign">
							{{#if this.paid}}
								<p class="green-text text-darken-2">Paid</p>
							{{else}}
								<p>Not Paid</p>
							{{/if}}
						</div>
						<div class="col s6 right valign">
							<p class="center">{{this.developers.length}}/{{this.numberOfPeople}} spots taken</p>
						</div>
					</div>
					<div class="row chips-container valign-wrapper center">
						<div class="col s12 valign">
							Languages &amp; Frameworks:
							{{#each this.languages}}
								<div class="chip"><a href="/lang/{{this}}" target="_blank">{{{this}}}</a></div>
							{{else}}
								[none]
							{{/each}}
						</div>
					</div>
					<div class="center section container">
						<p class="flow-text"><span class="title"><strong>Abstract:</strong></span> {{{this.abstract}}}</p>
					</div>
					{{#if ../isSingle}}
					<div class="center section container">
						<p class="flow-text"><span class="title"><strong>Description:</strong></span> {{{this.description}}}</p>
					</div>
					{{/if}}
					<div class="center section">
						{{#if this.applied}}
						<p class="flow-text">You've applied to this! <a href="/profile/application/{{this.applied}}/view" class="btn">View Application</a></p>
						{{else}}
							{{#if ../isSingle}}
								<p class="flow-text">Interested? <a class="btn waves-effect waves-light" href="/project/{{this.id}}-{{get_slug this.name}}/apply">Apply!</a></p>
							{{else}}
								<p class="flow-text">Interested? <a class="btn waves-effect waves-light" href="/project/{{this.id}}-{{get_slug this.name}}/view">View Project!</a></p>
							{{/if}}
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		{{/if}}
	{{/each}}
</div>
{{#if pagination.needed}}
{{/if}}