<h1 class="center">
	{{#if headerTitle}}
		{{headerTitle}}
	{{else}}
		{{#unless single}}
		Projects
		{{/unless}}
	{{/if}}
</h1>
<div class="fixed-action-btn">
	<a class="btn-floating waves-effect btn-large red accent-4 large help-fab hoverable" href="/project/create" title="Create a project"><i class="material-icons large">add</i></a>
</div>
<div class="project-container section">
	{{#each projects}}
		{{#if (canRenderProject ../admin this ../user)}}
		<div class="container section project">
			<div class="card">
				<div class="card-content">
					{{#if (renderProjectApproval ../admin this)}}
					<div class="row">
						<div class="col s12 m4 center"><a href="/admin/project/{{this._id}}/approve" class="btn waves-effect waves-light green">Approve</a></div>
						<div class="col s12 m4 center"><a href="/admin/project/{{this._id}}/edit" class="btn waves-effect waves-lignt">Edit</a></div>
						<div class="col s12 m4 center"><a href="/admin/project/{{this._id}}/reject" class="btn waves-effect waves-light red">Reject</a></div>
					</div>
					{{/if}}
					{{#unless (public this)}}
						<a class="right" href="/faq/#unapproved/visibility" target="_blank"><i class="material-icons red-text" title="Project not approved - only you can see it!">info</i></a>
					{{/unless}}
					<h2 class="flow-text center underlined"><strong>{{{this.name}}}</strong></h2>
					<div class="row valign-wrapper">
						<div class="col s6 center valign">
							{{#if this.paid}}
								<p class="green-text text-darken-2">Paid</p>
							{{else}}
								<p>Not Paid</p>
							{{/if}}
						</div>
						<div class="col s6 right valign">
							<p class="center">{{this.developers.length}}/{{this.numberOfPeople}} spots taken</p>
						</div>
					</div>
					<div class="row chips-container valign-wrapper center">
						<div class="col s12 valign">
							Languages &amp; Frameworks:
							{{#each this.languages}}
								<div class="chip"><a href="/lang/{{this}}" target="_blank">{{{this}}}</a></div>
							{{else}}
								[none]
							{{/each}}
						</div>
					</div>
					<div class="center section container">
						<p class="flow-text"><span class="title"><strong>Abstract:</strong></span> {{{this.abstract}}}</p>
					</div>
					{{#if ../isSingle}}
					<div class="center section container">
						<p class="flow-text"><span class="title"><strong>Description:</strong></span> {{{this.description}}}</p>
					</div>
					{{/if}}
					<div class="center section">
						{{#if this.applied}}
						<p class="flow-text">You've applied to this! <a href="/profile/application/{{this.applied}}/view" class="btn">View Application</a></p>
						{{else}}
							{{#if ../isSingle}}
								<p class="flow-text">Interested? <a class="btn {{#unless (public this)}}disabled{{/unless}} waves-effect waves-light" href="/project/{{this._id}}-{{get_slug this.name}}/apply">Apply!</a><small><br/>You cannot apply to this project right now <a href="/faq/#unapproved/visibility" target="_blank">Learn More</a></small></p>
							{{else}}
								<p class="flow-text">Interested? <a class="btn waves-effect waves-light" href="/project/{{this._id}}-{{get_slug this.name}}/view">View Project!</a></p>
							{{/if}}
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		{{else}}
			{{#if ../single}}
				<div class="container section">
					<div class="card section center">
						<h1>You need permission to view this project</h1>
						<p class="flow-text center">Here's a lonely road so you can ponder life</p>
						<p class="center container"><img class="responsive-img materialboxed materialboxedcenter" alt="Road" src="/img/403-road.jpg" /></p><br/>
					</div>
				</div>
			{{/if}}
		{{/if}}
	{{/each}}
</div>
{{#if pagination.needed}}
//@todo: add pagination
{{/if}}