<div class="container section project">
	<div class="card">
		<div class="card-content">
			<div class="row valign-wrapper">
				<div class="col s4 valign">
					<h2 class="flow-text underlined"><strong>{{data.name}}</strong></h2>
				</div>
				<div class="col s3 valign">
					{{#if data.paid}}
						<p class="flow-text green-text text-darken-2">Paid</p>
					{{else}}
						<p class="flow-text">Not Paid</p>
					{{/if}}
				</div>
				<div class="col s3 right valign">
					<p class="flow-text">{{data.developers.length}}/{{data.numberOfPeople}} spots taken</p>
				</div>
			</div>
			<div class="row chips-container valign-wrapper center">
				<div class="col s12 valign">
					Languages &amp; Frameworks:
					{{#each data.languages}}
						<div class="chip"><a href="/lang/{{this}}" target="_blank">{{this}}</a></div>
					{{/each}}
				</div>
			</div>
			<div class="row center">
				<p class="flow-text"><span class="title"><strong>Abstract:</strong></span> {{data.abstract}}</p>
			</div>
			<div class="row center">
				<p class="flow-text"><span class="title"><strong>Description:</strong></span> {{data.description}}</p>
			</div>
			<div class="row center">
				<p class="flow-text">Interested? <a class="btn waves-effect waves-light" href="/project/{{data._id}}/apply">Apply today!</a></p>
			</div>
		</div>
	</div>
</div>