<%= form_for(project_submission_page) do |f| %>
  <% if project_submission_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project_submission_page.errors.count, "error") %> prohibited this project_submission_page from being saved:</h2>

      <ul>
      <% project_submission_page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :slack %>
    <%= f.text_field :slack %>
  </div>

  <div class="field">
    <%= f.label :organization %>
    <%= f.text_field :organization %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :skills %>
    <%= f.text_area :skills %>
  </div>

  <div class="field">
    <%= f.label :timeframe %>
    <%= f.text_field :timeframe %>
  </div>

  <div class="field">
    <%= f.label :teamSize %>
    <%= f.text_field :teamSize %>
  </div>

  <div class="field">
    <%= f.label :paid %>
    <%= f.text_field :paid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
