<p id="notice"><%= notice %></p>

<h1>Project Submission Pages</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Slack</th>
      <th>Organization</th>
      <th>Description</th>
      <th>Skills</th>
      <th>Timeframe</th>
      <th>Teamsize</th>
      <th>Paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_submission_pages.each do |project_submission_page| %>
      <tr>
        <td><%= project_submission_page.name %></td>
        <td><%= project_submission_page.email %></td>
        <td><%= project_submission_page.slack %></td>
        <td><%= project_submission_page.organization %></td>
        <td><%= project_submission_page.description %></td>
        <td><%= project_submission_page.skills %></td>
        <td><%= project_submission_page.timeframe %></td>
        <td><%= project_submission_page.teamSize %></td>
        <td><%= project_submission_page.paid %></td>
        <td><%= link_to 'Show', project_submission_page %></td>
        <td><%= link_to 'Edit', edit_project_submission_page_path(project_submission_page) %></td>
        <td><%= link_to 'Destroy', project_submission_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Submission Page', new_project_submission_page_path %>
