<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project_submission_page.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @project_submission_page.email %>
</p>

<p>
  <strong>Slack:</strong>
  <%= @project_submission_page.slack %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @project_submission_page.organization %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project_submission_page.description %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @project_submission_page.skills %>
</p>

<p>
  <strong>Timeframe:</strong>
  <%= @project_submission_page.timeframe %>
</p>

<p>
  <strong>Teamsize:</strong>
  <%= @project_submission_page.teamSize %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @project_submission_page.paid %>
</p>

<%= link_to 'Edit', edit_project_submission_page_path(@project_submission_page) %> |
<%= link_to 'Back', project_submission_pages_path %>
