<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_request.name %>
</p>

<p>
  <strong>Slack:</strong>
  <%= @user_request.slack %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user_request.email %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @user_request.skills %>
</p>

<p>
  <strong>Interest:</strong>
  <%= @user_request.interest %>
</p>

<%= link_to 'Edit', edit_user_request_path(@user_request) %> |
<%= link_to 'Back', user_requests_path %>
